
<h2>Containers:</h2>

<div>
    <ul class="nav nav-pills pull-left">
        <li class="dropdown">
            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" data-target="#">Actions <b class="caret"></b></a>
            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                <li><a tabindex="-1" href="" ng-click="startAction()">Start</a>
                </li>
                <li><a tabindex="-1" href="" ng-click="stopAction()">Stop</a>
                </li>
                <li><a tabindex="-1" href="" ng-click="killAction()">Kill</a>
                </li>
                <li><a tabindex="-1" href="" ng-click="removeAction()">Remove</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="pull-right">
        <input type="checkbox" ng-model="displayAll" ng-change="toggleGetAll()" />Display All
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <input type="checkbox" ng-model="toggle" ng-change="toggleSelectAll()" />Action</th>
            <th>Name</th>
            <th>Image</th>
            <th>Engine</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="container in containers|orderBy:predicate">
            <td>
                <input type="checkbox" ng-model="container.checked" />
            </td>
            <td><a href="#/containers/{{ container.id }}/">{{ container.image.name}}</a>
            </td>
            <td><a href="#/images/{{ container.image.name }}/">{{ container.image.name }}</a>
            </td>
            <td>{{ container.engine.id }}</td>
        </tr>
    </tbody>
</table>
