<div class="row-fluid center">
    <div class="span12" id="masthead" style="display:none">
        <div class="jumbotron">
            <h1>DockerUI</h1>
            <p class="lead">The Linux container engine</p>
            <a class="btn btn-large btn-success" href="http://docker.io">Learn more.</a>
        </div>
    </div>

    <div class="span12">
        <h3>Engines</h3>
        <ul>
            <li ng-repeat="engine in engines|orderBy:predicate">
                <a href="#/engines/{{ engine.id }}/">{{ engine.id }}@{{ engine.addr }}</a>
            </li>
        </ul>
    </div>
    <div class="span12">
        <h3>Running Containers</h3>
        <ul>
            <li ng-repeat="container in containers">
                <a href="#/containers/{{ container.id }}/">{{ container.image.name }}</a>
            </li>
        </ul>
    </div>
</div>
