  .sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
  }

  .sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
  }

  .sample-show-hide.ng-hide-add.ng-hide-add-active,
  .sample-show-hide.ng-hide-remove {
    opacity:0;
  }

  .sample-show-hide.ng-hide-add,
  .sample-show-hide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }