<div class="ui menu">
    <a class="active item" href="/">
        <i class="tasks icon"></i>Containers
    </a>
</div>


<h2>{{image}}</h2>
<table class="ui table segment">

    <thead>
        <tr>
            <th>ID</th>
            <th>Engine</th>
            <th>Cpu</th>
            <th>Memory</th>
            <th>Network</th>
            <th>Ports</th>
            <th>Status</th>
            <th>Restart</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="container in containers">

            <td>
                <a href="/#/containers/{{image}}/{{container.id}}">{{container.name}}</a>
            </td>

            <td>{{container.engine.id|truncate}}</td>
            <td>{{container.image.cpus}}</td>
            <td>{{container.image.memory}} mb</td>
            <td>{{container.network_mode}}</td>
            <td>{{container.ports|viewports}}</td>

            <td class="{{container.state|servicestatus}}">{{container.state.status}}</td>
            <td>{{container.image.restart_policy.name}}</td>
            <td>
                <div class="ui buttons">
                    <div class="ui small icon button" ng-click="start(container)">
                        <i class="play icon"></i>
                    </div>
                    <div class="ui small icon button" ng-click="stop(container)">
                        <i class="stop icon"></i>
                    </div>
                    <div class="ui small icon button" ng-click="destroy(container)">
                        <i class="trash icon"></i>
                    </div>
                    <div class="ui small icon button" ng-click="logs(container)">
                        <i class="open folder icon"></i>
                    </div>
                </div>
            </td>

        </tr>
    </tbody>

</table>
