<div id="deploy-modal" class="ui modal" ng-controller="DeployController">
    <i class="close icon"></i>

    <div class="header">
        Run Container
    </div>

    <div class="content">

        <form>
            <div class="ui form segment">

                <p>Deploying a new container onto the cluster.</p>

                <div class="field">
                    <label>Name</label>
                    <input placeholder="Name" type="text" ng-model="container.name">
                </div>

                <div class="field">
                    <label>Image</label>
                    <input placeholder="Image name" type="text" ng-model="container.image">
                </div>

                <div class="field">
                    <label>Cpus</label>
                    <input placeholder="0.1" type="number" ng-model="container.cpus">
                </div>

                <div class="field">
                    <label>Memory</label>
                    <input placeholder="{{container.memory}}" type="number" ng-model="container.memory">
                </div>

                <div class="field">
                    <label>Command</label>
                    <input placeholder="" type="text" ng-model="container.command">
                </div>

                <div class="field">
                    <label>Network Mode</label>
                    <div class="grouped inline fields">
                        <div class="field" ng-click="setmode('bridge')">
                            <div class="ui radio checkbox">
                                <input type="radio" name="mode" value="bridge">
                                <label></label>
                            </div>
                            <label>Bridge</label>
                        </div>
                        <div class="field" ng-click="setmode('host')">
                            <div class="ui radio checkbox">
                                <input type="radio" name="mode" value="host">
                                <label></label>
                            </div>
                            <label>Host</label>
                        </div>
                        <div class="field" ng-click="setmode('none')">
                            <div class="ui radio checkbox">
                                <input type="radio" name="mode" value="none">
                                <label></label>
                            </div>
                            <label>None</label>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Volumes</label>
                    <input placeholder="/volumes:/redis" type="text" ng-model="container.volumes">
                </div>

                <div class="field">
                    <label>Environment</label>
                    <input placeholder="HOME=/root PATH=/bin" type="text" ng-model="container.environment">
                </div>

                <div class="field">
                    <div class="ui checkbox" ng-click="setrestart()">
                        <input type="checkbox">
                        <label>Restart</label>
                    </div>
                </div>

                <div class="field">
                    <label>Host</label>
                    <div class="ui dropdown selection" id="hostdropdown">
                        <input type="hidden" name="host" value="{{container.host}}">
                        <div class="default text">Any</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-ng-init="init()" data-value="{{host.id}}" ng-repeat="host in hosts" ng-click="select(host)">{{host.id}}</div>
                        </div>
                    </div>
                </div>

            </div>

    </div>
    <pre>form = {{container | json}}</pre>
    </form>
    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive button" ng-click="launch()">Deploy</div>
    </div>

</div>

