<div class="ui two column grid">
    <section class="column">
        <div class="ui large header">Citadel</div>
    </section>
    <section class="column">
        <div class="ui relaxed horizontal divided list">

            <div class="item">
                <i class="hdd icon"></i>
                <div class="content">
                    <a class="header">Hosts</a>
                    <div class="description">{{hosts}}</div>
                </div>
            </div>

            <div class="item">
                <i class="table icon"></i>
                <div class="content">
                    <a class="header">Containers</a>
                    <div class="description">{{containers}}</div>
                </div>
            </div>

            <div class="item">
                <i class="setting icon"></i>
                <div class="content">
                    <a class="header">Cpus</a>
                    <div class="description">{{cpus}}</div>
                </div>
            </div>

            <div class="item">
                <i class="settings icon"></i>
                <div class="content">
                    <a class="header">Memory</a>
                    <div class="description">{{memory}} mb</div>
                </div>
            </div>

        </div>
    </section>
</div>

<div class="ui fitted divider"></div>