<table class="ui table segment">
    <thead>
        <tr>
            <th>ID</th>
            <th>Labels</th>
            <th>Address</th>
            <th>CPUs</th>
            <th>Memory</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="host in hosts">
            <td>
                <a href="/#/hosts/{{host.id}}">{{host.id|truncate}}</a>
            </td>
            <td>{{host.labels}}</td>
            <td>{{host.addr}}</td>
            <td>{{host.cpus}}</td>
            <td>{{host.memory}} mb</td>
        </tr>
    </tbody>
</table>
